openapi: 3.0.1
info:
  contact:
    email: jeanbaptiste.wittner@outlook.com
  title: Swagger BLIZZARD Api
  version: 0.5.2
servers:
- url: https://eu.api.blizzard.com/
- url: https://us.api.blizzard.com/
- url: https://kr.api.blizzard.com/
- url: https://tw.api.blizzard.com/
- url: https://cn.api.blizzard.com/
security:
- oAuthAuthorizationCodeEU:
  - wow.profile
- oAuthAuthorizationCodeUS:
  - wow.profile
- oAuthAuthorizationCodeAPAC:
  - wow.profile
- oAuthAuthorizationCodeCN:
  - wow.profile
tags:
- name: Covenant
- name: Playable Class
- name: Playable Race
- name: Playable Specialization
- name: Realm
- name: Account Profile
- name: Character Profile
- name: Character Media
paths:
  /data/wow/covenant/index:
    get:
      description: Returns an index of covenants.
      operationId: getCovenantIndex
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arrayCovenantIndexData'
          description: successful operation
      tags:
      - Covenant
      x-accepts: application/json
  /data/wow/media/covenant/{covenantId}:
    get:
      description: Returns media for a covenant by ID.
      operationId: getCovenantMediaById
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The ID of the covenant.
        explode: false
        in: path
        name: covenantId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arrayAssetData'
          description: successful operation
      tags:
      - Covenant
      x-accepts: application/json
  /data/wow/playable-class/index:
    get:
      description: Returns an index of playable classes.
      operationId: getPlayableClassIndex
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arrayClassesIndexData'
          description: successful operation
      tags:
      - Playable Class
      x-accepts: application/json
  /data/wow/playable-class/{classId}:
    get:
      description: Returns a playable class by ID.
      operationId: getPlayableClassById
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The ID of the playable class.
        explode: false
        in: path
        name: classId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playableClassData'
          description: successful operation
      tags:
      - Playable Class
      x-accepts: application/json
  /data/wow/media/playable-class/{classId}:
    get:
      description: Returns media for a playable class by ID.
      operationId: getPlayableClassMediaById
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The ID of the playable class.
        explode: false
        in: path
        name: classId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playableClassRaceMediaData'
          description: successful operation
      tags:
      - Playable Class
      x-accepts: application/json
  /data/wow/playable-race/index:
    get:
      description: Returns an index of playable races.
      operationId: getPlayableRaceIndex
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arrayRacesIndexData'
          description: successful operation
      tags:
      - Playable Race
      x-accepts: application/json
  /data/wow/playable-race/{raceId}:
    get:
      description: Returns a playable race by ID.
      operationId: getPlayableRaceById
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The ID of the playable race.
        explode: false
        in: path
        name: raceId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playableRaceData'
          description: successful operation
      tags:
      - Playable Race
      x-accepts: application/json
  /data/wow/playable-specialization/index:
    get:
      description: Returns an index of playable specializations.
      operationId: getPlayableSpecializationIndex
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arraySpecializationsIndexData'
          description: successful operation
      tags:
      - Playable Specialization
      x-accepts: application/json
  /data/wow/playable-specialization/{specId}:
    get:
      description: Returns a playable specialization by ID.
      operationId: getPlayableSpecializationById
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The ID of the playable specialization.
        explode: false
        in: path
        name: specId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playableSpecializationData'
          description: successful operation
      tags:
      - Playable Specialization
      x-accepts: application/json
  /data/wow/media/playable-specialization/{specId}:
    get:
      description: Returns media for a playable specialization by ID.
      operationId: getPlayableSpecializationMediaById
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - static-eu
          - static-us
          - static-kr
          - static-tw
          - static-cn
          example: static-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The ID of the playable specialization.
        explode: false
        in: path
        name: specId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playableClassRaceMediaData'
          description: successful operation
      tags:
      - Playable Specialization
      x-accepts: application/json
  /data/wow/realm/index:
    get:
      description: Returns an index of realms.
      operationId: getRealmIndex
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - dynamic-eu
          - dynamic-us
          - dynamic-kr
          - dynamic-tw
          - dynamic-cn
          example: dynamic-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arrayRealmsIndexData'
          description: successful operation
      tags:
      - Realm
      x-accepts: application/json
  /data/wow/realm/{realmSlug}:
    get:
      description: Returns a single realm by slug or ID.
      operationId: getRealmBySlug
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - dynamic-eu
          - dynamic-us
          - dynamic-kr
          - dynamic-tw
          - dynamic-cn
          example: dynamic-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The slug of the realm.
        explode: false
        in: path
        name: realmSlug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/realmData'
          description: successful operation
      tags:
      - Realm
      x-accepts: application/json
  /profile/user/wow:
    get:
      description: Account Profile Summary
      operationId: getUserProfile
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - profile-eu
          - profile-us
          - profile-kr
          - profile-tw
          - profile-cn
          example: profile-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profileAccountData'
          description: successful operation
      tags:
      - Account Profile
      x-accepts: application/json
  /profile/wow/character/{realmSlug}/{characterName}:
    get:
      description: Returns a profile summary for a character.
      operationId: getCharacter
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - profile-eu
          - profile-us
          - profile-kr
          - profile-tw
          - profile-cn
          example: profile-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The slug of the realm.
        explode: false
        in: path
        name: realmSlug
        required: true
        schema:
          type: string
        style: simple
      - description: The lowercase name of the character.
        explode: false
        in: path
        name: characterName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/characterData'
          description: successful operation
      tags:
      - Character Profile
      x-accepts: application/json
  /profile/wow/character/{realmSlug}/{characterName}/character-media:
    get:
      description: Returns a summary of the media assets available for a character
        (such as an avatar render).
      operationId: getCharacterMedia
      parameters:
      - description: The namespace to use to locate this document.
        explode: true
        in: query
        name: namespace
        required: true
        schema:
          enum:
          - profile-eu
          - profile-us
          - profile-kr
          - profile-tw
          - profile-cn
          example: profile-eu
          type: string
        style: form
      - description: The region of the data to retrieve.
        explode: true
        in: query
        name: region
        required: true
        schema:
          enum:
          - eu
          - us
          - kr
          - tw
          - cn
          example: eu
          type: string
        style: form
      - description: The locale to reflect in localized data. (If you don't send a
          value, the API sends you all localized data)
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - es_MX
          - pt_BR
          - de_DE
          - en_GB
          - es_ES
          - fr_FR
          - it_IT
          - ru_RU
          - ko_KR
          - zh_TW
          - zh_CN
          example: en_US
          type: string
        style: form
      - description: The slug of the realm.
        explode: false
        in: path
        name: realmSlug
        required: true
        schema:
          type: string
        style: simple
      - description: The lowercase name of the character.
        explode: false
        in: path
        name: characterName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/characterMediaData'
          description: successful operation
      tags:
      - Character Media
      x-accepts: application/json
components:
  parameters:
    staticNamespace:
      description: The namespace to use to locate this document.
      explode: true
      in: query
      name: namespace
      required: true
      schema:
        enum:
        - static-eu
        - static-us
        - static-kr
        - static-tw
        - static-cn
        example: static-eu
        type: string
      style: form
    dynamicNamespace:
      description: The namespace to use to locate this document.
      explode: true
      in: query
      name: namespace
      required: true
      schema:
        enum:
        - dynamic-eu
        - dynamic-us
        - dynamic-kr
        - dynamic-tw
        - dynamic-cn
        example: dynamic-eu
        type: string
      style: form
    profileNamespace:
      description: The namespace to use to locate this document.
      explode: true
      in: query
      name: namespace
      required: true
      schema:
        enum:
        - profile-eu
        - profile-us
        - profile-kr
        - profile-tw
        - profile-cn
        example: profile-eu
        type: string
      style: form
    region:
      description: The region of the data to retrieve.
      explode: true
      in: query
      name: region
      required: true
      schema:
        enum:
        - eu
        - us
        - kr
        - tw
        - cn
        example: eu
        type: string
      style: form
    locale:
      description: The locale to reflect in localized data. (If you don't send a value,
        the API sends you all localized data)
      explode: true
      in: query
      name: locale
      required: false
      schema:
        enum:
        - en_US
        - es_MX
        - pt_BR
        - de_DE
        - en_GB
        - es_ES
        - fr_FR
        - it_IT
        - ru_RU
        - ko_KR
        - zh_TW
        - zh_CN
        example: en_US
        type: string
      style: form
  schemas:
    playableClassData:
      description: Playable class data
      example:
        specializations:
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        id: 0
        power_type:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        gender_name:
          female:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          male:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
      properties:
        id:
          description: Id of the class
          type: integer
        name:
          $ref: '#/components/schemas/nameData'
        gender_name:
          $ref: '#/components/schemas/genderData'
        power_type:
          $ref: '#/components/schemas/indexData'
        specializations:
          items:
            $ref: '#/components/schemas/indexData'
          type: array
      required:
      - gender_name
      - id
      - name
      - power_type
      - specializations
      type: object
    playableClassRaceMediaData:
      description: Playable class/race media data
      example:
        assets:
        - file_data_id: 0
          value: https://openapi-generator.tech
          key: avatar
        - file_data_id: 0
          value: https://openapi-generator.tech
          key: avatar
        id: 0
      properties:
        id:
          description: Id of the class
          type: integer
        assets:
          items:
            $ref: '#/components/schemas/assetData'
          type: array
      required:
      - assets
      - id
      type: object
    playableRaceData:
      description: Playable race data
      example:
        is_selectable: true
        is_allied_race: true
        faction:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          type: type
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        id: 0
        gender_name:
          female:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          male:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
      properties:
        id:
          description: Id of the race
          type: integer
        name:
          $ref: '#/components/schemas/nameData'
        gender_name:
          $ref: '#/components/schemas/genderData'
        faction:
          $ref: '#/components/schemas/typeData'
        is_selectable:
          type: boolean
        is_allied_race:
          type: boolean
      required:
      - faction
      - gender_name
      - id
      - is_allied_race
      - is_selectable
      - name
      - type
      type: object
    playableSpecializationData:
      description: Playable specilization data
      example:
        pvp_talents:
        - talent:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 5
          spell_tooltip:
            cast_time:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            description:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
        - talent:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 5
          spell_tooltip:
            cast_time:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            description:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
        role:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          type: type
        playable_class:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        talent_tiers:
        - level: 6
          tier_index: 2
          talents:
          - talent:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 5
            spell_tooltip:
              cast_time:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              description:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              column_index: 5
            column_index: 1
          - talent:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 5
            spell_tooltip:
              cast_time:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              description:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              column_index: 5
            column_index: 1
        - level: 6
          tier_index: 2
          talents:
          - talent:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 5
            spell_tooltip:
              cast_time:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              description:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              column_index: 5
            column_index: 1
          - talent:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 5
            spell_tooltip:
              cast_time:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              description:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              column_index: 5
            column_index: 1
        gender_description:
          female:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          male:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
        id: 0
      properties:
        id:
          description: Id of the specilization
          type: integer
        playable_class:
          $ref: '#/components/schemas/indexData'
        name:
          $ref: '#/components/schemas/nameData'
        gender_description:
          $ref: '#/components/schemas/genderData'
        role:
          $ref: '#/components/schemas/typeData'
        talent_tiers:
          items:
            $ref: '#/components/schemas/pveTalentTiersData'
          type: array
        pvp_talents:
          items:
            $ref: '#/components/schemas/pvpTalentTiersData'
          type: array
      type: object
    pveTalentTiersData:
      description: PVE Talent tiers data
      example:
        level: 6
        tier_index: 2
        talents:
        - talent:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 5
          spell_tooltip:
            cast_time:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            description:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            column_index: 5
          column_index: 1
        - talent:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 5
          spell_tooltip:
            cast_time:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            description:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            column_index: 5
          column_index: 1
      properties:
        level:
          description: Level where the talents are obtained
          type: integer
        talents:
          items:
            $ref: '#/components/schemas/pveTalentData'
          type: array
        tier_index:
          description: Id of the talent
          type: integer
      type: object
    pvpTalentTiersData:
      description: PVP Talent tiers data
      example:
        talent:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 5
        spell_tooltip:
          cast_time:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          description:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
      properties:
        talent:
          $ref: '#/components/schemas/talentData'
        spell_tooltip:
          $ref: '#/components/schemas/pvpSpellDescritpionData'
      type: object
    pveTalentData:
      description: PVE Talent data
      example:
        talent:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 5
        spell_tooltip:
          cast_time:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          description:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          column_index: 5
        column_index: 1
      properties:
        column_index:
          description: Id of the talent
          type: integer
        talent:
          $ref: '#/components/schemas/talentData'
        spell_tooltip:
          $ref: '#/components/schemas/pveSpellDescritpionData'
      type: object
    talentData:
      description: Talent data
      example:
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        id: 5
      properties:
        id:
          description: Id of the talent
          type: integer
        name:
          $ref: '#/components/schemas/nameData'
      type: object
    pveSpellDescritpionData:
      description: Description of the pve spell
      example:
        cast_time:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        description:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        column_index: 5
      properties:
        description:
          $ref: '#/components/schemas/nameData'
        cast_time:
          $ref: '#/components/schemas/nameData'
        column_index:
          description: Index of the spell
          type: integer
      type: object
    pvpSpellDescritpionData:
      description: Description of the pvp spell
      example:
        cast_time:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        description:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
      properties:
        description:
          $ref: '#/components/schemas/nameData'
        cast_time:
          $ref: '#/components/schemas/nameData'
      type: object
    arrayAssetData:
      description: Array of media asset
      example:
        assets:
        - file_data_id: 0
          value: https://openapi-generator.tech
          key: avatar
        - file_data_id: 0
          value: https://openapi-generator.tech
          key: avatar
      properties:
        assets:
          items:
            $ref: '#/components/schemas/assetData'
          type: array
      type: object
    assetData:
      description: Asset of media
      example:
        file_data_id: 0
        value: https://openapi-generator.tech
        key: avatar
      properties:
        key:
          description: Type of media
          enum:
          - avatar
          - inset
          - main
          - main-raw
          - icon
          type: string
        value:
          description: Uri of the media
          format: uri
          type: string
        file_data_id:
          description: File id
          type: integer
      required:
      - file_data_id
      - key
      - value
      type: object
    genderData:
      description: Gender data
      example:
        female:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        male:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
      properties:
        male:
          $ref: '#/components/schemas/nameData'
        female:
          $ref: '#/components/schemas/nameData'
      required:
      - female
      - male
      type: object
    arrayRacesIndexData:
      description: Array of races index
      example:
        races:
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
      properties:
        races:
          items:
            $ref: '#/components/schemas/indexData'
          type: array
      required:
      - races
      type: object
    arraySpecializationsIndexData:
      description: Array of specializations index
      example:
        character_specializations:
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
      properties:
        character_specializations:
          items:
            $ref: '#/components/schemas/indexData'
          type: array
      required:
      - character_specializations
      type: object
    arrayCovenantIndexData:
      description: Array of covenant index
      example:
        covenants:
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
      properties:
        covenants:
          items:
            $ref: '#/components/schemas/indexData'
          type: array
      type: object
    arrayClassesIndexData:
      description: Array of classes index
      example:
        classes:
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
      properties:
        classes:
          items:
            $ref: '#/components/schemas/indexData'
          type: array
      required:
      - classes
      type: object
    realmData:
      description: Data of realm
      example:
        is_tournament: true
        timezone: timezone
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        id: 0
        region:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        category:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        locale: locale
        type:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          type: type
        slug: slug
      properties:
        id:
          description: Id of the realm
          type: integer
        region:
          $ref: '#/components/schemas/indexData'
        name:
          $ref: '#/components/schemas/nameData'
        category:
          $ref: '#/components/schemas/nameData'
        locale:
          description: Locale of the realm
          type: string
        timezone:
          description: Timezone of the realm
          type: string
        type:
          $ref: '#/components/schemas/typeData'
        is_tournament:
          description: Is true if the realm is a tournament realm
          type: boolean
        slug:
          description: Slug of the realm
          type: string
      required:
      - category
      - id
      - is_tournament
      - locale
      - name
      - region
      - slug
      - timezone
      - type
      type: object
    indexData:
      description: Index of data
      example:
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        id: 0
      properties:
        id:
          description: Id of the index
          type: integer
        name:
          $ref: '#/components/schemas/nameData'
      required:
      - id
      - name
      type: object
    arrayRealmsIndexData:
      description: Array of classes index
      example:
        realms:
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
          slug: slug
        - name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
          slug: slug
      properties:
        realms:
          items:
            $ref: '#/components/schemas/realmIndexData'
          type: array
      required:
      - realms
      type: object
    realmIndexData:
      description: Index of realm
      example:
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        id: 0
        slug: slug
      properties:
        id:
          description: Id of the index
          type: integer
        slug:
          type: string
        name:
          $ref: '#/components/schemas/nameData'
      required:
      - id
      - name
      - slug
      type: object
    profileAccountData:
      description: Data of wow accounnt
      example:
        wow_accounts:
        - characters:
          - playable_class:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
            gender:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              type: type
            level: 5
            faction:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              type: type
            name: name
            realm:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
              slug: slug
            id: 1
            playable_race:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
          - playable_class:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
            gender:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              type: type
            level: 5
            faction:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              type: type
            name: name
            realm:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
              slug: slug
            id: 1
            playable_race:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
          id: 6
        - characters:
          - playable_class:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
            gender:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              type: type
            level: 5
            faction:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              type: type
            name: name
            realm:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
              slug: slug
            id: 1
            playable_race:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
          - playable_class:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
            gender:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              type: type
            level: 5
            faction:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              type: type
            name: name
            realm:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
              slug: slug
            id: 1
            playable_race:
              name:
                it_IT: it_IT
                ru_RU: ru_RU
                en_GB: en_GB
                zh_TW: zh_TW
                ko_KR: ko_KR
                en_US: en_US
                es_MX: es_MX
                pt_BR: pt_BR
                es_ES: es_ES
                zh_CN: zh_CN
                fr_FR: fr_FR
                de_DE: de_DE
              id: 0
          id: 6
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        id: 0
      properties:
        id:
          description: Id of the accounnt
          type: integer
        wow_accounts:
          items:
            $ref: '#/components/schemas/wowAccountData'
          type: array
        name:
          $ref: '#/components/schemas/nameData'
      required:
      - id
      - wow_accounts
      type: object
    wowAccountData:
      description: Data of wow accounnt
      example:
        characters:
        - playable_class:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
          gender:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            type: type
          level: 5
          faction:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            type: type
          name: name
          realm:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
            slug: slug
          id: 1
          playable_race:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
        - playable_class:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
          gender:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            type: type
          level: 5
          faction:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            type: type
          name: name
          realm:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
            slug: slug
          id: 1
          playable_race:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
        id: 6
      properties:
        id:
          description: Id of the accounnt
          type: integer
        characters:
          items:
            $ref: '#/components/schemas/characterIndexData'
          type: array
      required:
      - characters
      - id
      type: object
    characterIndexData:
      description: Index of character
      example:
        playable_class:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        gender:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          type: type
        level: 5
        faction:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          type: type
        name: name
        realm:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
          slug: slug
        id: 1
        playable_race:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
      properties:
        name:
          type: string
        id:
          type: integer
        realm:
          $ref: '#/components/schemas/realmIndexData'
        playable_class:
          $ref: '#/components/schemas/indexData'
        playable_race:
          $ref: '#/components/schemas/indexData'
        gender:
          $ref: '#/components/schemas/typeData'
        faction:
          $ref: '#/components/schemas/typeData'
        level:
          type: integer
      required:
      - faction
      - gender
      - id
      - level
      - name
      - playable_class
      - playable_race
      - realm
      type: object
    characterData:
      description: Character data
      example:
        active_spec:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        last_login_timestamp: 2
        gender:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          type: type
        race:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        level: 1
        character_class:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        achievement_points: 5
        experience: 5
        covenant_progress:
          chosen_covenant:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
          renown_level: 2
        guild:
          faction:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            type: type
          name: name
          realm:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
            slug: slug
          id: 6
        average_item_level: 7
        equipped_item_level: 9
        active_title:
          display_string:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 3
        faction:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          type: type
        name: name
        realm:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
          slug: slug
        id: 0
      properties:
        name:
          type: string
        id:
          type: integer
        gender:
          $ref: '#/components/schemas/typeData'
        faction:
          $ref: '#/components/schemas/typeData'
        race:
          $ref: '#/components/schemas/indexData'
        character_class:
          $ref: '#/components/schemas/indexData'
        active_spec:
          $ref: '#/components/schemas/indexData'
        realm:
          $ref: '#/components/schemas/realmIndexData'
        guild:
          $ref: '#/components/schemas/guildCharacterIndexData'
        level:
          type: integer
        experience:
          type: integer
        achievement_points:
          type: integer
        last_login_timestamp:
          format: int64
          type: integer
        average_item_level:
          type: integer
        equipped_item_level:
          type: integer
        active_title:
          $ref: '#/components/schemas/titleData'
        covenant_progress:
          $ref: '#/components/schemas/covenantProgressData'
      required:
      - achievement_points
      - active_spec
      - active_title
      - average_item_level
      - character_class
      - covenant_progress
      - equipped_item_level
      - experience
      - faction
      - gender
      - guild
      - id
      - last_login_timestamp
      - level
      - name
      - race
      - realm
      type: object
    covenantProgressData:
      description: Covenant progress data
      example:
        chosen_covenant:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
        renown_level: 2
      properties:
        chosen_covenant:
          $ref: '#/components/schemas/indexData'
        renown_level:
          type: integer
      required:
      - chosen_covenant
      - renown_level
      type: object
    titleData:
      description: Data of character title
      example:
        display_string:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        id: 3
      properties:
        name:
          $ref: '#/components/schemas/nameData'
        id:
          type: integer
        display_string:
          $ref: '#/components/schemas/nameData'
      required:
      - display_string
      - id
      - name
      type: object
    guildCharacterIndexData:
      description: Index of guild character
      example:
        faction:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          type: type
        name: name
        realm:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
          slug: slug
        id: 6
      properties:
        name:
          type: string
        id:
          type: integer
        realm:
          $ref: '#/components/schemas/realmIndexData'
        faction:
          $ref: '#/components/schemas/typeData'
      required:
      - faction
      - id
      - name
      - realm
      type: object
    characterMediaData:
      description: Character media data
      example:
        character:
          name: name
          realm:
            name:
              it_IT: it_IT
              ru_RU: ru_RU
              en_GB: en_GB
              zh_TW: zh_TW
              ko_KR: ko_KR
              en_US: en_US
              es_MX: es_MX
              pt_BR: pt_BR
              es_ES: es_ES
              zh_CN: zh_CN
              fr_FR: fr_FR
              de_DE: de_DE
            id: 0
            slug: slug
          id: 0
        assets:
        - file_data_id: 0
          value: https://openapi-generator.tech
          key: avatar
        - file_data_id: 0
          value: https://openapi-generator.tech
          key: avatar
      properties:
        character:
          $ref: '#/components/schemas/characterMediaIndex'
        assets:
          items:
            $ref: '#/components/schemas/assetData'
          type: array
      required:
      - assets
      - character
      type: object
    characterMediaIndex:
      description: Character media data
      example:
        name: name
        realm:
          name:
            it_IT: it_IT
            ru_RU: ru_RU
            en_GB: en_GB
            zh_TW: zh_TW
            ko_KR: ko_KR
            en_US: en_US
            es_MX: es_MX
            pt_BR: pt_BR
            es_ES: es_ES
            zh_CN: zh_CN
            fr_FR: fr_FR
            de_DE: de_DE
          id: 0
          slug: slug
        id: 0
      properties:
        name:
          type: string
        id:
          type: integer
        realm:
          $ref: '#/components/schemas/realmIndexData'
      required:
      - id
      - name
      - realm
      type: object
    typeData:
      description: Faction data
      example:
        name:
          it_IT: it_IT
          ru_RU: ru_RU
          en_GB: en_GB
          zh_TW: zh_TW
          ko_KR: ko_KR
          en_US: en_US
          es_MX: es_MX
          pt_BR: pt_BR
          es_ES: es_ES
          zh_CN: zh_CN
          fr_FR: fr_FR
          de_DE: de_DE
        type: type
      properties:
        type:
          type: string
        name:
          $ref: '#/components/schemas/nameData'
      required:
      - name
      - type
      type: object
    nameData:
      description: Different translations
      example:
        it_IT: it_IT
        ru_RU: ru_RU
        en_GB: en_GB
        zh_TW: zh_TW
        ko_KR: ko_KR
        en_US: en_US
        es_MX: es_MX
        pt_BR: pt_BR
        es_ES: es_ES
        zh_CN: zh_CN
        fr_FR: fr_FR
        de_DE: de_DE
      properties:
        en_US:
          description: The locale of English (U.S.)
          type: string
        es_MX:
          description: The locale of mexican Spanish (Mexican)
          type: string
        pt_BR:
          description: The locale of Portuguese (Brazilian)
          type: string
        de_DE:
          description: The locale of German
          type: string
        en_GB:
          description: The locale of English (U.K.)
          type: string
        es_ES:
          description: The locale of Spanish (Modern)
          type: string
        fr_FR:
          description: The locale of French
          type: string
        it_IT:
          description: The locale of Italian
          type: string
        ru_RU:
          description: The locale of Russian
          type: string
        ko_KR:
          description: The locale of Korean
          type: string
        zh_TW:
          description: The locale of Chinese (Taiwan/Traditional)
          type: string
        zh_CN:
          description: The locale of Chinese (Simplified)
          type: string
      required:
      - de_DE
      - en_GB
      - en_US
      - es_ES
      - es_MX
      - fr_FR
      - it_IT
      - ko_KR
      - pt_BR
      - ru_RU
      - zh_CN
      - zh_TW
      type: object
  securitySchemes:
    oAuthAuthorizationCodeEU:
      description: This API uses OAuth 2 with the authorization code grant flow (eu).
      flows:
        authorizationCode:
          authorizationUrl: https://eu.battle.net/oauth/authorize
          scopes:
            wow.profile: wow profile
          tokenUrl: https://eu.battle.net/oauth/token
      type: oauth2
    oAuthAuthorizationCodeUS:
      description: This API uses OAuth 2 with the authorization code grant flow (us).
      flows:
        authorizationCode:
          authorizationUrl: https://us.battle.net/oauth/authorize
          scopes:
            wow.profile: wow profile
          tokenUrl: https://us.battle.net/oauth/token
      type: oauth2
    oAuthAuthorizationCodeAPAC:
      description: This API uses OAuth 2 with the authorization code grant flow (apac).
      flows:
        authorizationCode:
          authorizationUrl: https://apac.battle.net/oauth/authorize
          scopes:
            wow.profile: wow profile
          tokenUrl: https://apac.battle.net/oauth/token
      type: oauth2
    oAuthAuthorizationCodeCN:
      description: This API uses OAuth 2 with the authorization code grant flow (CN).
      flows:
        authorizationCode:
          authorizationUrl: https://cn.battle.net/oauth/authorize
          scopes:
            wow.profile: wow profile
          tokenUrl: https://cn.battle.net/oauth/token
      type: oauth2

